.doctor_dashboard{
    display: flex;
    height: 750px;
}
.doctor_appbar{
    background-color: #0ACC97;
    width: 25%;
    height: 130%;
}
.pharma_right_component{
    width: 73.5%;
}
.top{
    background-color: #07D9AD;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.top img{
    width: 40px;
    height: 40px;
    margin-right: 30px;

}
.top h2{
    margin: 0px;
}
/* .bottom{
    padding-left: 25px;
} */
.element{
    display: flex;
    align-items: center;
    color: white;
    padding-left: 25px;
}
.element:hover{
    cursor: pointer;
}

.selected_element{
    display: flex;
    align-items: center;
    color: white;
    padding-left: 25px;
    background-color: #009099;
}
.selected_element:hover{
    cursor: pointer;
}